[Unit]
Description=A3 Mixer Controller
After=network.target

[Service]
#User=aaa
Environment="PATH=/home/aaa/.local/bin:$PATH"
ExecStart=/home/aaa/.venv/bin/python3 /home/aaa/a3-mixer/software/scripts/a3-mixer.py

[Install]
WantedBy=multi-user.target
