[Unit]
Description=A3 Mixer Controller
After=network.target

[Service]
User=aaa
Environment="PATH=/home/aaa/.local/bin:$PATH"
ExecStart=/home/aaa/.venv/bin/python /home/aaa/a3-mixer/software/scripts/a3-mixer-set-display/a3-mixer-set-display.py

[Install]
WantedBy=multi-user.target
